  

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<br><br><br><br><br><br>


<% if !@confirmation || @confirmation.status %>


<div class= "login_form_inner container">
  <div class="section_one ">
    <div class="login_box_img section_news">
            <div class="hover">
              <h4>Du nouveau sur notre site</h4>
              <p>Inscrivez vous et recevez nos tout derniers nouveaux images en recevant nos newsletters</p>
              <a class="main_btn" href="/users/sign_up">Créer un compte</a>
            </div>
          </div>
  </div>
    <div class="omb_login">
      <h3 class="omb_authTitle">Login or <a href="/users/sign_up">Sign up</a></h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
              <i class="fa fa-facebook visible-xs"></i>
              <span class="hidden-xs">Facebook</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
              <i class="fa fa-twitter visible-xs"></i>
              <span class="hidden-xs">Twitter</span>
            </a>
          </div>  
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-google">
              <i class="fa fa-google-plus visible-xs"></i>
              <span class="hidden-xs">Google+</span>
            </a>
          </div>  
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <div class="input_user">
      <div>   

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "omb_loginForm") do |f| %>
  <div class="input-group">
    <%= f.email_field :email, autofocus: true, placeholder:"email address", class: "form_control fa fa-user" %>
  </div><br>

  <div class="input-group">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class: "form_control fa fa-lock" %>
  </div><br>


<div class="inner_section_two">
  <div class="remember_and_forgot">
    <div>
      <% if devise_mapping.rememberable? %>
      <div class="remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>
    </div>

    <div>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end %>
    </div>
  </div>

  <div class="actions btn_custom">
    <%= f.submit "Log in" , class: "btn btn-primary btn_custom"%>
  </div>
</div>  
<% end %>


      </div>
      </div>
  </div>


<% else %>


  <%= render 'confirmation/form' %>


<% end %>


